.child2 {
    
    border: 4px dotted white;
    

}
.child2 > p {
    text-align: center;
    color: white;
}
.child2 > img {
    margin-left: 34vw;
}
h2 {
    color: white;
    text-align: center;
}

