.container1 {
    border: solid black;
    padding: 10px;
    height: 400px;
    width: 300px;
    

}
.container2 {
    border: solid black;
    padding: 10px;
    height: 400px;
    width: 300px;
    margin-left: 4px;
    

}
.container3 {
    border: solid black;
    padding: 10px;
    height: 400px;
    width: 300px;
    margin-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    

}